.side-panel {
    background-image: url("../../assets/images/AuthImages/bacgroundimage/uioydesign.png");
    width: 100%;
    background-size: cover;
    height: 100%;
    padding: 48px;
    gap: 0px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
  
    .icon-container {
      .star-icon {
        width: 250px;
      }
    }
  
    .text-container {
      gap: 24px;
      display: flex;
      flex-direction: column;
  
      .name-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 7px;
      }
  
      .description-container {
        font-family: DM Sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 22.5px;
        color: #4A4559;
        width: 451px;
        height: 46px;
        gap: 0px;
        opacity: 1; 
      }
    }
  }
  
  @media (max-width:600px) {
    .side-panel {
        background-image: url("../../assets/images/AuthImages/bacgroundimage/ezzedesign.png");
      gap: 30px;
      padding: 16px;
  
      .icon-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
  
        .star-icon {
          width: 52px;
          height: 52px;
        }
      }
  
      .text-container {
        .name-container {
          .welcome-text {
            font-size: 20px !important;
          }
        }
  
        .description-container {
          width: 100%;
          height: auto;
  
          .description-text {
            font-size: 14px !important;
            width: 100%;
          }
        }
      }
    }
  }
  
  @media (min-width:601px) and (max-width:1200px) {
    .side-panel {
        background-image: url("../../assets/images/AuthImages/bacgroundimage/ezzedesign.png");
      .icon-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
  
        .star-icon {
          width: 146px;
          height: 146px;
        }
      }
    }
  }