.chooselanguage_selector {
  padding: 10px;
  display: flex;
  height: 100vh;
  align-items: center;
  gap: 32px;

  .chooselanguageselector__left {
    width: 100%;
    height: 100%;
    display: flex;


  }

  .chooselanguageselector__right {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 35px;
    width: 50%;
    position: relative;

    .lang-div {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      gap: 25px;
      width: 100%;

      .check-lang {
        width: 100%;
      }

      .lang-content {
        width: 100%;

        .language-list {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 10px;

          .language-item {
            display: flex;
            flex-direction: row;
            gap: 30px;
            padding: 2px;
            align-items: center;
            border: 1px solid #F9F8FD;
            background-color: #F9F8FD;
            cursor: pointer;

            .language-flag {
              width: 42px;
              height: 42px;
            }

            &.selected {
              background-color: #DCD3F8;

            }
          }
        }
      }
    }

  }
}

@media (max-width: 600px) {
  .chooselanguage_selector {
    flex-direction: column;
    align-items: baseline;

    justify-content: space-between;

    .chooselanguageselector__left {
      flex-direction: column;
      gap: 15px;
    }

    .chooselanguageselector__right {
      width: 100%;
    }
  }

}

@media (min-width: 601px) and (max-width: 1200px) {
  .chooselanguage_selector {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;

    gap: 32px;

    .chooselanguageselector__left {
      flex-direction: column;
      gap: 15px;
    }

    .chooselanguageselector__right {
      width: 100%;

      .lang-div {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 25px;
        width: 100%;

        .check-lang {
          width: 100%;
        }

        .lang-content {


          .language-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
          }
        }
      }
    }
  }
}