.data_undifendsbox {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.masteredquiz_button {
    background-image: url("../../../../assets/images/AuthImages/bacgroundimage/ezzedesign.png");
    background-size: cover;
    width: 100%;
    height: 56px;
    border-radius: 16px !important;
    font-size: 20px !important;
    font-family: "DM Serif Display" !important;
    cursor: pointer;
    color: black;
    margin-top: 10px;
}

.quiz_center {
    text-align: center;
    padding: 10px;
}

.error_data {
    text-align: center;
    color: red;
}

.mastered_filetop {
    display: flex;
    justify-content: space-between;


    .story_buttoncreat {
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: center;
        color: aliceblue;
        width: 125px;
        height: 56px;
        padding: 17px;
        gap: 10px;
        border-radius: 10px;
        background-color: #8B6DE8;
        cursor: pointer;
    }
}


.export_text {

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: #ede8ff;
    border: 1px solid #ede8ff;
    border-radius: 10px;
    width: 120px;
    height: 60px;
    padding: 10px;

    .words_tittle {
        color: #8B6DE8;
        font-family: DM Sans;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
    }
}

.selecet_alls {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    margin-top: 10px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    &:hover{
        color: #8B6DE8;
    }
}

.css-16139fb-MuiTableCell-root {
    padding: 1px !important;
}

.check_box {
    margin-top: 6px;
}


@media (max-width:600px) {
    .export_text {
        width: 56px;
        height: 52px;
        padding: 10px;
        gap: 10px;
        border-radius: 48px;
        background-color: #F9F8FD;
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-items: center;
        .words_tittle {
            display: none;
        }
    }

    
}
