.data_undifendsbox{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input{
   
    border-radius: 17px !important;
}


.editdialog_buttom{
    margin-top: 10px;
    justify-content: center;
    width: 100% !important;
    display: flex;
    align-items: center;
    .buton_edithandle{
        color: #8B6DE8;
        width: 50%;
    }
}
.css-1xp5r68-MuiFormControl-root-MuiTextField-root{
    width: 97%;
   
}
.alert_buton{
    color: #8B6DE8 !important;
}

.alls_checkbutton{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
    margin-top: 5px;
}


@media (max-width:600px) {
    .alls_checkbutton{
        justify-content: center;
    }
}