.statistica_page {
    display: flex;
    width: max-content;
    flex-direction: column;
    align-items: baseline;
    gap: 30px;

    .OverAll_Acuraybox {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 6px;
        background-color: #F9F8FD;
        border: 1px solid #F9F8FD;
        border-radius: 10px;
        width: 550px;
        height: max-content;
        padding: 11px;
        font-size: 16px;
        font-family: "DM Sans";
        font-weight: 400;

        .overAll_top {
            color: #8B6DE8;
        }

        .overaccuray {
            font-weight: 600;
            font-size: 17px;
        }

        .line {
            border-bottom: 1px solid gray;
        }
    }

    .piechart_section {
        width: 400px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 6px;
        background-color: #F9F8FD;
        border: 1px solid #F9F8FD;
        border-radius: 10px;
        width: 550px;
        height: max-content;
        padding: 11px;
        font-size: 16px;
        font-family: "DM Sans";
        font-weight: 400;

        .piechart_top {
            color: #8B6DE8;
        }
    }

    .custom-piechart {
        color: rebeccapurple;
    }

    .hiperbola {
        width: 780px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 6px;
        background-color: #F9F8FD;
        border: 1px solid #F9F8FD;
        border-radius: 10px;
        width: 550px;
        height: max-content;
        padding: 11px;
        font-size: 16px;
        font-family: "DM Sans";
        font-weight: 400;

        .hiperbola_top {
            color: #8B6DE8;
        }
    }
}


@media (max-width:600px) {
    .statistica_page {
        width: 100%;

        .piechart_section {
            width: 100%;
        }

        .OverAll_Acuraybox {
            width: 100%;
        }

        .hiperbola {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 40px;
        }


    }
}





@media (min-width:601px) and (max-width:1200px) {
    .statistica_page {
        width: 100%;

        .piechart_section {
            width: 100%;
        }

        .OverAll_Acuraybox {
            width: 100%;
        }

        .hiperbola {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 40px;
        }


    }
}