.pa-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  

    .time-option {
        width: 95px;
        height: 52px;
        padding: 12px 24px 12px 24px;
        border-radius: 44px;
        border: 1px solid #F9F8FD;
        &.selectedtime{
            background-color: red;
        }
        cursor: pointer;
        background-color: #F9F8FD;
    }
  
}