.home_container{
  .homepage {
    padding: 10px;
  .homepage_center{
    display: flex;
    flex-direction: column;
   
    .customvocabularyclass{
      display: none;
    }
  }
    .homepage_bottom {
      margin-top: 32px;
      display: flex;
      overflow: hidden;
      justify-content: space-between;
  
      .homepage_left {
        width: 66%;
        overflow: hidden;
        display: flex;
        gap: 20px;;
        flex-direction: column;
        .vocablarpasscomponents{
          display: block;
      
        }
      }
  
      .homepage_right {
        width: 32%;
  
      }
    }
  
    .homepage_quiz {
   
    display: none;
    }
  
  }

}

@media (max-width:600px) {
  .home_container{

    .homepage {
      .homepage_center{
        display: flex;
        flex-direction: column-reverse;
        .customvocabularyclass{
          display: block;
      
        }
      }
      .homepage_bottom {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .homepage_left {
          width: 100%;
          gap: 0px;
        .vocablarpasscomponents{
          display: none;
        }
    
        }
        .homepage_right{
          width: 100% ;
        }
      }
      .homepage_quiz{
        display: block;
        background-image: url("../../assets/images/AuthImages/bacgroundimage/ezzedesign.png");
        background-size: cover;
        width: 100%;
        text-align: center;
        height: 56px;
        border-radius: 16px;
        cursor: pointer;
        margin-top: 20px;
        .quiz_center{
          padding: 10px;
        }
    }
    }
  }
}

@media (min-width:601px) and (max-width:1200px) {
  .home_container{

    .homepage {
      .homepage_center{
        gap: 20px ;
        .customvocabularyclass{
          display: block;
        
        }
      }
      .homepage_bottom {
        gap: 24px;
     align-items: flex-start;
     justify-content: space-between;
        .homepage_left {
        width: max-content;
        gap: 0px;
        .vocablarpasscomponents{
          display: none;
        }
    
        }
        .homepage_right{
          width: max-content;
        }
      }
      .homepage_quiz{
        display: block;
        background-image: url("../../assets/images/AuthImages/bacgroundimage/ezzedesign.png");
        background-size: cover;
        width: 100%;
        text-align: center;
        height: 56px;
        border-radius: 16px;
        cursor: pointer;
        margin-top: 20px;
        .quiz_center{
          padding: 10px;
        }
    
    }
    }
  }
}

@media (min-width:1200) and (max-width:1400) {
  .home_container{
    width: 100%;
    .homepage {
      .homepage_center{
        .customvocabularyclass{
          display: block;
       
        }
      }
      .homepage_bottom {
     
        .homepage_left {
        .vocablarpasscomponents{
          display: none;
        }
    
        }
      }
  
     
    }

  }
}