.selecetlanguages {

    padding: 20px;
    border-radius: 20px;
    background-color: #F9F8FD;
    cursor: pointer;
    height: 70px;
    width: max-content;
    
    .selecets_box {


        text-align: center;
        font-family: Inter;
        font-weight: 500;

        font-size: 18px;

        .ee {
            font-family: Inter;
            font-weight: 500;
            font-size: 18px;
            line-height: 22.5px;
            letter-spacing: 0%;

        }
    }


}