.selecetlanguages {
    width: 260px;
    padding: 15px;
    border-radius: 20px;
    background-color: #F9F8FD;
    cursor: pointer;
    height: 65px;

    .selecets_box {
        display: flex;
        gap: 40px;
        text-align: center;
        font-family: Inter;
        font-weight: 500;
        font-size: 18px;
        line-height: 22.5px;
        letter-spacing: 0%;
        padding: 0px 25px;
    }

    .formselecet {
        width: 100%;
        border-radius: 10px;
        background-color: #F9F8FD;
        border: 1px solid #F9F8FD;
    }
}