.table_alls {
    background-color: #F9F8FD;
    width: 100%;
    height: 100%;
    padding: 16px;
    gap: 10px;
    border-radius: 24px;

    .table_container {
        background-color: #F9F8FD;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
        border: none;
        .table_aligns {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
        }

        .table_borders {
            border-bottom: none;
        }

        .table_cards {
            display: flex;
            border-bottom: none;
            align-items: center;
            justify-content: space-between;

            .table_button {
                border: none;
            }
        }
    }
}



@media (min-width: 601px) and (max-width: 1200px) {
    .table_alls {
        height: 100%;
    }
}