.top_file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;

    .file__input {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        background-color: #F9F8FD;
        border: 1px solid #F9F8FD;
        border-radius: 10px;
        width: 150px;
        height: 30px;
        padding: 3px;
    }

    input[type="file"] {
        background-color: #6c5ce7;
        border: 1px solid#6c5ce7;
        cursor: pointer;
        color: white;
   
    }

    input[type="file"]::file-selector-button {
        border: 2px solid #6c5ce7;
        padding: 0.2em 0.4em;
        border-radius: 0.2em;
        background-color: #6c5ce7;
        transition: 1s;
        cursor: pointer;
        color: white;
    }

    .submit_inputdata {
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: center;
        color: aliceblue;
        width: 75px;
        height: 36px;
        padding: 17px;
        gap: 10px;
        border-radius: 10px;
        background-color: #6c5ce7;
        border: 1px solid #6c5ce7;
        cursor: pointer;

    }
}

@media (max-width:600px) {
    .top_file {
        justify-content: space-between;
        gap: 10px;
    }
}