.leftpanel_container {
    background-image: url("../../assets/images/AuthImages/bacgroundimage/ezzedesign.png");
    width: 100%;
    background-size: cover;
    height: 664px;
    padding: 48px;
    gap: 0px;
    border-radius: 32px ;
    position: relative;
    .leftpanel_staricon{
        .starimg{
            width: 250px;
        }
    }

    .leftpanel_bottomtext {
        position: absolute;
        top: 527px;
        left: 48px;
        gap: 24px;
        display: flex;
        flex-direction: column;

        .leftpanel_botomname {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 7px;
        }

        .leftpanel_bottom {
            font-family: DM Sans;
            font-size: 18px;
            font-weight: 400;
            line-height: 22.5px;
            color: #4A4559;
            width: 451px;
            height: 46px;
            gap: 0px;
            opacity: 0px;

        }
    }

}
@media (max-width:600px) {
    .leftpanel_container{
      width: 100%;
        height: 250px;
        top: 16px;
        left: 0px;
        gap: 0px;
        .leftpanel_staricon{
            position: absolute;
            top: 15px !important;
            left: 18px !important;
            .starimg{
                width: 56.04px;
                height: 55px;
              
                
            }
        }
    .leftpanel_bottomtext{
top: 125px;
left: 24px;
.leftpanel_bottomwelcome{
    font-size: 20px !important;
}
.leftpanel_bottom {
    font-size: 14px;
    width: 100% !important;
height: 56px !important;
.leftpanel_bottomabouttext{
    font-size: 14px !important;
}


}
    }

        
    }
}


@media (min-width:601px ) and (max-width:1200px) {
    .leftpanel_container{
        height: 450px;
        width: 100% !important;
        top: 16px;
        left: 0px;
        gap: 0px;
        .leftpanel_staricon{
            position: absolute;
            width: 157px;
            height: 154px;
            top: 42px;
       right: 0;
            .starimg{
                width: 157px;
                height: 154px;        
            }
        }
    .leftpanel_bottomtext{
        width: 451px;
        height: 125px;
        top: 292px;
        left: 32px;
        .leftpanel_bottomwelcome{
            font-size: 42px !important;
           
        }
     
     
.leftpanel_bottom{
    font-size: 18px;
    width: 451px;
    height: 46px;
}
    }    
    }
}

@media (min-width:1201px) and (max-width:1305px) {
    .leftpanel_container{
        width: 580px !important;
    }
}

