.leftpanel_container {
    background-image: url("../../assets/images/AuthImages/bacgroundimage/ezzedesign.png");
    width: 100%;
    background-size: cover;
    height: 664px;
    padding: 48px;
    gap: 0px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;

    .leftpanel_staricon {
        .starimg {
            width: 250px;
        }
    }

    .leftpanel_bottomtext {
        gap: 24px;
        display: flex;
        flex-direction: column;

        .leftpanel_botomname {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 7px;
        }

        .leftpanel_bottom {
            font-family: DM Sans;
            font-size: 18px;
            font-weight: 400;
            line-height: 22.5px;
            color: #4A4559;
            width: 451px;
            height: 46px;
            gap: 0px;
            opacity: 0px;

        }
    }

}

@media (max-width:600px) {
    .leftpanel_container {
        height: max-content;
        gap: 30px;
        padding: 16px;

        .leftpanel_staricon {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;

            .starimg {
                width: 52px;
                height: 52px;
            }
        }

        .leftpanel_bottomtext {
            .leftpanel_botomname {
                .leftpanel_bottomwelcome {
                    font-size: 20px !important;
                }
            }

            .leftpanel_bottom {
                width: 100%;
                height: auto;

                .leftpanel_bottomabouttext {
                    font-size: 14px !important;
                    width: 100%;
                }
            }
        }
    }
}


@media (min-width:601px) and (max-width:1200px) {
    .leftpanel_container {

        .leftpanel_staricon {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;

            .starimg {
                width: 146px;
                height: 146px;
            }
        }
    }
}

