.input_div {
  position: relative;
display: flex;
flex-direction: column;
gap: 5px;
.error_message{
  color: red;
  text-align: end;
  font-size: 15px;
  font-weight: 400;
  font-family: DM,sans-serif;
}
  .input_wrapper {
    display: flex; 
    align-items: center;  
    width: 100%;
    position: relative;
   
  }

  .input_primary {
    width: 100%;  
    height: 56px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #D8DADC;
    &:focus {
      outline: none;
    }
  }
  .input_primary.error {
    border: 1px solid red; 
    background-color: #ffe6e6;
  }

  .eyesonof,
  .circle_icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .eyesonof {
    right: 15px; 
  }

  .circle_icon {
    right: 16px; 
    width: 17px;
  }
}

@media (max-width: 600px) {
  .input_div{
    width: 100%;
  }
  .input_primary {
    width: 100% ;  
    height: 56px;
  }

  .eyesonof {
    right: 10px;  
  }

  .circle_icon {
    right: 10px;  
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .input_div{
    width: 100%;
  }
  .input_primary {
    width: 100% ; 
    height: 56px;
  }

  .eyesonof {
    right: 10px;  
  }

  .circle_icon {
    right: 10px;  
  }
}
