.inputmodals{
    width: 100%;
    height: 56px;
    padding: 18px 16px 18px 16px;
    border-radius: 10px;
    border: 1px solid #D8DADC;
}
.input-error {
    border-color: red;
  }

  .labelinputtime{
    display: none;
  }