.dialoq {
    width: 100%;
    height: 605px;
    padding: 16px 16px 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .dialoqtitte_tops {
        background-color: #F4F2FC ;
        padding: 1rem 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .tittledialoq {
            font-family: DM Serif Display;
            font-size: 28px;
            font-weight: 400;
            line-height: 35px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

        }

        .iconbutton {
            color: black;
        }
    }

    .dialoq_abouttext {
        display: flex;
        align-items: center;
        gap: 17px;
        flex-direction: column;

        .abouttextdialoqone {
            font-family: DM Serif Display;
            font-size: 32px;
            font-weight: 400;
            line-height: 41.6px;
            letter-spacing: -0.01em;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #1D1730;
        }

        .abouttextdialoqtwo {
            font-family: DM Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            width: 60%;
        }
    }

    .button_dialoq {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .buttonone {
            color: #7D62D1;
            font-family: Inter;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

        }

        .buttontwo {
            color: #FFFFFF;
            border: 1px solid #7D62D1;
            background-color: #7D62D1;
            border-radius: 10px;
            height: 56px;
            width: 150px;
            text-align: center;
            font-family: DM Sans;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

        }
    }
}