.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
.headers_burger{
    display: none ;
}
    .header_left {
        .selects {
            width: 250px;
            height: 56px;
            padding: 5px;
            gap: 10px;
            border-radius: 10px;


        }
    }
.header_center{
    background-image: url("../../assets/images/AuthImages/bacgroundimage/ezzedesign.png");
    background-size: cover;
    width: 360px;
    height: 56px;
    border-radius: 16px;
    cursor: pointer;
.quiz_center{
    text-align: center;
    margin-top: 10px;
    
}
}
    .header_right {
        display: flex;
        align-items: center;
        gap: 16px;

        .header_setting {
            width: 56px;
            height: 52px;
            padding: 10px;
            gap: 10px;
            border-radius: 48px;
            background-color: #F9F8FD;
            display: flex;
            justify-content: center;
            cursor: pointer;
            align-items: center;
        }



        .header_words {
            display: flex;
            align-items: center;
            gap: 5px;
            justify-content: center;
            color: aliceblue;
            width: 175px;
            height: 56px;
            padding: 17px;
            gap: 10px;
            border-radius: 10px;
            background-color: #8B6DE8;
            cursor: pointer;
            .words_count,
            .newwordstext {
          font-weight: bold;
             color: #FFFFFF;
            

            }
        }
    }
}

@media (max-width:600px) {
    .header{
        flex-direction: row-reverse ;
        .headers_burger{
            display: block;
            width: 42px;
            height: 42px;
            border-radius: 42px;
            background-color: #F9F8FD;
        }
.header_left{
    display: none;
}
        .header_center{
         display: none;
        }
        .header_right{
         .header_setting{
             display: none ;
         }
         .header_words{
            width: 42px;
            height: 42px;
            border-radius: 42px;
            .newwordstext{
                display: none;
            }
         }
        }
    }
  }
  @media (min-width:601px ) and (max-width:1200px) {
    .header{

        .header_center{
            display: none;
           }
           .header_right{
            gap: 5px;
           }
    }
  }
  @media (min-width:1201px) and (max-width:1305px) {
    .header_center{
        display: none;
       }
  }