.newwordmodal_alert {
    width: 100%;

    .dialogcontent {
       

        .text__input {
            display: flex;
            flex-direction: column;
            gap: 16px;
            position: relative;
            padding: 5px 5px;


            .sourcetop,
            .translationbutom {
                position: relative;

                .modals_labelsource {
                    position: absolute;
                    top: 5px;
                    left: 10px;
                    font-family: DM Serif Display;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 23.4px;
                    letter-spacing: -0.01em;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;

                }

                .modals_labeltranslation {
                    position: absolute;
                    top: 5px;
                    left: 10px;
                    font-family: DM Serif Display;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 23.4px;
                    letter-spacing: -0.01em;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                }
            }

            .newwords_input {
                height: 80px;

            }

            .input_label {
                position: absolute;
                top: 20px;
                left: 10px;
                font-weight: bold;
                font-family: DM Serif Display;
                font-size: 18px;
                font-weight: 400;
                line-height: 23.4px;
                letter-spacing: -0.01em;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;

            }

            .input_labeltwo {
                position: absolute;
                top: 130px;
                font-weight: bold;
                font-family: DM Serif Display;
                font-size: 18px;
                font-weight: 400;
                line-height: 23.4px;
                letter-spacing: -0.01em;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;

                left: 10px;
            }

            .input_language {
                background-color: #F3F3F5;
                border-color: #F3F3F5;
                border-radius: 10px;
                border: 1px solid #F3F3F5;
                height: 100px;
                padding: 12px;
                color: black;

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: black;
                    font-family: DM Serif Display;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 23.4px;
                    letter-spacing: -0.01em;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                }
            }
        }

        .text_saved {
            display: flex;
            margin-top: 16px;
            gap: 12px;
            padding: 2px 23px;

            .saved_modalnow {
                cursor: pointer;
            }
        }
    }


}