*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
.reset-pass {
  text-align: left;
  font-family: Arial, sans-serif;
  padding: 0 32px;
  width: 100%;
  max-width: 541px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .custombtn {
    margin-top: 20px;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    width: 100%;
  }
}

.resetLeft-side {
  .fgHead{
    font-family: DM Serif Display;
    color: rgb(29, 23, 48);
    line-height: 62.4px;
    font-size: 48px;
    font-weight: 400;
    padding-bottom: 7px;
  }
  .fgtext{
    font-family: DM Sans;
      color: #000000b2;
      line-height: 25px;
      font-size: 16px;
      font-weight: 400;
  }
}
.main-div{
  min-height: 100vh;
}


.resetRight-side{
  p{
    margin-top: 30%;
    text-align: center;
  }
}

.reset-pass .resetLeft-side {
  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    margin-top: 20px;
    .custombtn {
      margin-top: 20px;
      padding: 12px;
      font-size: 16px;
      border-radius: 4px;
      width: 100%;
    }
  }
}
@media (max-width: 1290px) {

  .resetLeft-side{
    text-align: center;
  }

  .reset-pass {
    width: 90%;
    padding: 0 20px;
    text-align: left;

    .fgHead {
      font-size: 36px;
    }
  }

  .main-div {
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .left-side {
    display: block; 
    width: 100%; 
    text-align: center;
  }
  .main-div {
    justify-content: center;
    flex-direction: column;
    padding: 0;
    position: relative;

    .reset-pass .resetLeft-side {
      text-align: left;
      padding: 0;
      .fgHead {
        font-size: 32px;
        line-height: 1.3;
        font-weight: 400;
        color: #1d1730;
        padding: 7px 0;
      }
    }
  }
}
