*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
.reset-pass {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .custombtn {
    margin-top: 20px;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    width: 100%;
  }
}

.resetRight-side {
  margin-top: 30%;
  text-align: center;
  .fgHead{
    font-family:serif;
  }
  .fgtext{
    font-family: sans-serif;
  }
}
.main-div{
  min-height: 100vh;
}

.reset-pass .resetLeft-side {
  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    margin-top: 20px;
    .custombtn {
      margin-top: 20px;
      padding: 12px;
      font-size: 16px;
      border-radius: 4px;
      width: 100%;
    }
  }
}
@media (max-width: 1290px) {

  .resetLeft-side{
    text-align: center;
  }

  .reset-pass {
    width: 90%;
    padding: 0 20px;
    text-align: left;

    .fgHead {
      font-size: 36px;
    }
  }

  .main-div {
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .left-side {
    display: block; 
    width: 100%; 
    text-align: center;
  }
  .main-div {
    justify-content: center;
    flex-direction: column;
    padding: 0;
    position: relative;

    .reset-pass .resetLeft-side {
      text-align: left;
      padding: 0;
      .fgHead {
        font-size: 32px;
        line-height: 1.3;
        font-weight: 400;
        color: #1d1730;
      }
    }
  }
}
