.card {
  width: 100%;
  height: 664px;
  padding: 48px;
  border-radius: 32px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  .stars {
    .starimage{
      width: 216px;
    }
  }

  .content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;
    text-align: left;
    padding-left: 48px;
   
    .contentHead{
      display: flex;
      align-items: center;
      
    h2 {
      color: #1d1730;
      font-size: 1.5rem;
    }
      span {
        font-size: 1.2rem;
        display: inline-block;
      }
    }
    p {
      color: #4a4559;
      font-size: 1rem;
      margin: 10px 0;
    }
  }
}

@media (max-width: 600px) {
  .card {
    max-width: 100%;
    max-height: 300px;
    padding: 0;
    margin: 0;

    .stars{
      position: absolute;
      top: 15px !important;
      right: 18px !important;
      .starimage{
          width: 56.04px;
          height: 55px;
      }
  }

    .content {
      padding-left: 0;
      h2 {
        font-size: 20px;
        line-height: 26px;
        font-weight: 400;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 17.5px;
      }
    }
  }
}

@media (min-width:601px ) and (max-width:1290px){
  .stars{
    position: absolute;
    width: 157px;
    height: 154px;
    top: 42px;
    right: 12%;
    .starimage{
        width: 157px;
        height: 154px;        
    }
}
}










@media (min-width:1201px) and (max-width:1305px) {
  .card{
      width: 100% !important;
  }
}
