.languageselecet_settingscard {
    display: flex;
    align-items: center;
    gap: 6px;

    .language-flag {
        width: 32px;
        height: 32px;

    }
}

.languagesettings_modal {
    width: 100%;
    margin: 0 auto;
}

.css-10d30g3-MuiPaper-root-MuiDialog-paper {
    width: 100%;
   
}