.signin_check {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  opacity: 1;
}
.signin_check .signs_toggle {
  cursor: pointer;
}
.signin_check .signs_toggle .togle_icons {
  color: #8b6de8;
  font-size: 34px;
}
.signin_check .signs_toggle .togle_iconsof {
  color: #c0aee4;
  font-size: 34px;
}
.signin_check .signin_checkaccsestext {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media (max-width: 600px) {
  .signin_check .signin_check {
    width: 100%;
  }
  .signin_check .signin_check .signin_checkaccsestext {
    width: 100%;
  }
}