.LeftButton{
    width: 40px !important;
    height: 40px !important;
    margin-left: 20px !important;
    margin-top: 20px !important;
    border: 2px solid #D8DADC !important;
    color: black !important;
    border-radius: 10px !important;
}