.sign_up {
    margin-top: 42px;
    gap: 32px;

    .signup_left {
        width: 100% !important;
    }

    .signup_right {
        display: flex;
        flex-direction: column;
        gap: 32px;
        position: relative;



        .signup_topname {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .signup_name {
                font-family: DM Serif Display;
                font-size: 48px;
                font-weight: 400;
                line-height: 62.4px;
                letter-spacing: -0.01em;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
            }

            .signup_controlinfo {
                font-family: DM Sans;
                font-size: 16px;
                font-weight: 400;
                line-height: 25.6px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #000000B2;

            }

        }

        .signup_form {
            form {
                display: flex;
                flex-direction: column;
                gap: 16px;

                .signup_email {
                    display: flex;
                    flex-direction: column;
                    gap: 8px !important;

                    .circle_box {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        position: relative;

                        .circle_icon {
                            transform: translate(-50%, -50%);
                            right: 16px;
                            top: 3px;
                            width: 17px;
                            position: absolute;

                        }
                    }

                    .label_name {
                        font-family: DM Sans;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 17.5px;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;

                    }

                }

                .signup_password {
                    display: flex;
                    flex-direction: column;
                    gap: 6px !important;


                    .singin_passwordinp {
                        display: flex !important;
                        flex-direction: row !important;
                        align-items: center;
                        position: relative;

                        .eyesonof {
                            position: relative !important;
                        }

                        .paswordtop {
                            display: flex;
                            flex-direction: column;
                        }

                        .eye_icon {
                            cursor: pointer;
                            position: absolute;
                            right: 15px;
                            transform: translate(-50%, -50%);
                            width: 17px;
                            font-size: 18px;
                            gap: 0px;
                            opacity: 0px;

                        }
                    }
                }

            }


        }

        .signup_check {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 277px;
            height: 20px;
            gap: 12px;
            opacity: 0px;



            .signup_checkbox {
                border: 1px solid;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                gap: 0px;
                opacity: 0px;
                background-color: #F3F0FD;
                border-color: #F3F0FD;

                .checkmark {
                    color: #8B6DE8;


                }
            }
        }

        .signup_navbuttom {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 17.5px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin: auto;
            margin-top: 30%;

            .signup_alredytext {
                font-weight: 300;

            }

            .signup_nav {
                font-weight: bold;
                color: black;
                border-bottom-color: 2px solid;

            }
        }


    }
}



@media (max-width:600px) {
    .signup_left {
        width: 100%;
    }

    .sign_up {
        flex-direction: column !important;
        align-items: baseline;
        margin-top: 0px !important;
        justify-content: center !important;

        .signup_right {
            width: 100% !important;
            .signup_btm {
                width: 100%;
            }
            .signup_check{
                width: 100%;
            }

            .signup_form {
                width: 100% !important;

                form {
                    width: 100%;
                    align-items: baseline;
                }

                .signup_email {
                    width: 100% !important;

                    .input_div {
                        width: 100% !important;
                    }
                }

                .signup_password {
                    width: 100% !important;

                    .paswordtop {
                        width: 100% !important;

                        .input_div {
                            width: 100% !important;
                        }
                    }
                }

            }

         

            .signup_navbuttom {
                margin-top: 3% !important;
                width: 100%;
                justify-content: center;

                .sign_alredytext {
                    width: 171px;
                }

                .signup_nav p {
                    width: 85px;
                }
            }

            .signup_name {
                font-size: 32px !important;
            }

            .eye_icon {
                right: 22px !important;
            }

            .signup_controlinfo {
                font-size: 16px;
                width: 100% !important;
                height: 52px;
            }
        }
    }
}



@media (min-width:601px)and (max-width:1200px) {

    .signup_left {
        width: 100%;
    }

    .sign_up {
        flex-direction: column !important;
        align-items: baseline;
        margin-top: 0px !important;

        .signup_right {
            width: 100% !important;
    
            display: flex;
            flex-direction: column;
            align-items: baseline;

            .signup_btm {
                width: 100%;
            }

            .signup_form {
                width: 100% !important;

                form {
                    width: 100%;
                    align-items: baseline;
                }

                .signup_email {
                    width: 100% !important;

                    .input_div {
                        width: 100% !important;
                    }
                }

                .signup_password {
                    width: 100% !important;

                    .paswordtop {
                        width: 100% !important;

                        .input_div {
                            width: 100% !important;
                        }
                    }
                }

            }

            .eye_icon {
                right: 21px !important;
                cursor: pointer;
            }

         


            .signup_navbuttom {
                margin-top: 2%;
                width: 100%;
                justify-content: center;
            }

            .signup_name {
                font-size: 48px !important;

            }

            .signup_controlinfo {
                font-size: 18px;
                width: 509px;
                height: 29px;
                gap: 0px;
                opacity: 0px;

            }
        }
    }
}