.sign_up {
  margin-top: 42px;
  gap: 32px;
}
.sign_up .signup_left {
  width: 100% !important;
}
.sign_up .signup_right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}
.sign_up .signup_right .signup_topname {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sign_up .signup_right .signup_topname .signup_name {
  font-family: DM Serif Display;
  font-size: 48px;
  font-weight: 400;
  line-height: 62.4px;
  letter-spacing: -0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.sign_up .signup_right .signup_topname .signup_controlinfo {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(0, 0, 0, 0.6980392157);
}
.sign_up .signup_right .signup_form form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.sign_up .signup_right .signup_form form .signup_email {
  display: flex;
  flex-direction: column;
  gap: 8px !important;
}
.sign_up .signup_right .signup_form form .signup_email .circle_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.sign_up .signup_right .signup_form form .signup_email .circle_box .circle_icon {
  transform: translate(-50%, -50%);
  right: 16px;
  top: 3px;
  width: 17px;
  position: absolute;
}
.sign_up .signup_right .signup_form form .signup_email .label_name {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.sign_up .signup_right .signup_form form .signup_password {
  display: flex;
  flex-direction: column;
  gap: 6px !important;
}
.sign_up .signup_right .signup_form form .signup_password .singin_passwordinp {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  position: relative;
}
.sign_up .signup_right .signup_form form .signup_password .singin_passwordinp .eyesonof {
  position: relative !important;
}
.sign_up .signup_right .signup_form form .signup_password .singin_passwordinp .paswordtop {
  display: flex;
  flex-direction: column;
}
.sign_up .signup_right .signup_form form .signup_password .singin_passwordinp .eye_icon {
  cursor: pointer;
  position: absolute;
  right: 15px;
  transform: translate(-50%, -50%);
  width: 17px;
  font-size: 18px;
  gap: 0px;
  opacity: 0px;
}
.sign_up .signup_right .signup_check {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 277px;
  height: 20px;
  gap: 12px;
  opacity: 0px;
}
.sign_up .signup_right .signup_check .signup_checkbox {
  border: 1px solid;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  gap: 0px;
  opacity: 0px;
  background-color: #F3F0FD;
  border-color: #F3F0FD;
}
.sign_up .signup_right .signup_check .signup_checkbox .checkmark {
  color: #8B6DE8;
}
.sign_up .signup_right .signup_navbuttom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: auto;
  margin-top: 30%;
}
.sign_up .signup_right .signup_navbuttom .signup_alredytext {
  font-weight: 300;
}
.sign_up .signup_right .signup_navbuttom .signup_nav {
  font-weight: bold;
  color: black;
  border-bottom-color: 2px solid;
}

@media (max-width: 600px) {
  .signup_left {
    width: 100%;
  }
  .sign_up {
    flex-direction: column !important;
    align-items: baseline;
    margin-top: 0px !important;
    justify-content: center !important;
  }
  .sign_up .signup_right {
    width: 100% !important;
  }
  .sign_up .signup_right .signup_btm {
    width: 100%;
  }
  .sign_up .signup_right .signup_check {
    width: 100%;
  }
  .sign_up .signup_right .signup_form {
    width: 100% !important;
  }
  .sign_up .signup_right .signup_form form {
    width: 100%;
    align-items: baseline;
  }
  .sign_up .signup_right .signup_form .signup_email {
    width: 100% !important;
  }
  .sign_up .signup_right .signup_form .signup_email .input_div {
    width: 100% !important;
  }
  .sign_up .signup_right .signup_form .signup_password {
    width: 100% !important;
  }
  .sign_up .signup_right .signup_form .signup_password .paswordtop {
    width: 100% !important;
  }
  .sign_up .signup_right .signup_form .signup_password .paswordtop .input_div {
    width: 100% !important;
  }
  .sign_up .signup_right .signup_navbuttom {
    margin-top: 3% !important;
    width: 100%;
    justify-content: center;
  }
  .sign_up .signup_right .signup_navbuttom .sign_alredytext {
    width: 171px;
  }
  .sign_up .signup_right .signup_navbuttom .signup_nav p {
    width: 85px;
  }
  .sign_up .signup_right .signup_name {
    font-size: 32px !important;
  }
  .sign_up .signup_right .eye_icon {
    right: 22px !important;
  }
  .sign_up .signup_right .signup_controlinfo {
    font-size: 16px;
    width: 100% !important;
    height: 52px;
  }
}
@media (min-width: 601px) and (max-width: 1200px) {
  .signup_left {
    width: 100%;
  }
  .sign_up {
    flex-direction: column !important;
    align-items: baseline;
    margin-top: 0px !important;
  }
  .sign_up .signup_right {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .sign_up .signup_right .signup_btm {
    width: 100%;
  }
  .sign_up .signup_right .signup_form {
    width: 100% !important;
  }
  .sign_up .signup_right .signup_form form {
    width: 100%;
    align-items: baseline;
  }
  .sign_up .signup_right .signup_form .signup_email {
    width: 100% !important;
  }
  .sign_up .signup_right .signup_form .signup_email .input_div {
    width: 100% !important;
  }
  .sign_up .signup_right .signup_form .signup_password {
    width: 100% !important;
  }
  .sign_up .signup_right .signup_form .signup_password .paswordtop {
    width: 100% !important;
  }
  .sign_up .signup_right .signup_form .signup_password .paswordtop .input_div {
    width: 100% !important;
  }
  .sign_up .signup_right .eye_icon {
    right: 21px !important;
    cursor: pointer;
  }
  .sign_up .signup_right .signup_navbuttom {
    margin-top: 2%;
    width: 100%;
    justify-content: center;
  }
  .sign_up .signup_right .signup_name {
    font-size: 48px !important;
  }
  .sign_up .signup_right .signup_controlinfo {
    font-size: 18px;
    width: 509px;
    height: 29px;
    gap: 0px;
    opacity: 0px;
  }
}