.signin_controlinfo {
  font-weight: 400;
}
@media (max-width: 600px) {
  .signin_controlinfo {
    font-size: 14px !important;
  }
}
@media (min-width: 601px) and (max-width: 1200px) {
  .signin_controlinfo {
    font-size: 18px !important;
  }
}