.css-1588512-MuiButtonBase-root-MuiButton-root {
    cursor: pointer;
    pointer-events: auto !important;


    &[disabled] {
        pointer-events: auto;
        opacity: 1;
    }
}

.voicedquiz {
    color: rgb(56, 56, 244);
}