.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.check-email {
  text-align: left;
  font-family: Arial, sans-serif;
  padding: 0 32px;
  width: 100%;
  max-width: 541px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .btn {
    left: 0;
    top: 25px;
    position: absolute;
  }

  .verify-content {
    .csttext {
      text-align: left;
      font-family: sans-serif;
    }
    .customhead {
      font-family: serif;
    }
  }

  .inputs {
    display: flex;
    justify-content: center;
    gap: 10px;

    input {
      width: 40px;
      height: 40px;
      border: 1px solid #ccc;
      border-radius: 5px;
      text-align: center;
      font-size: 18px;

      &:focus {
        border-color: #6a5acd;
        outline: none;
      }
    }
  }

  .resend-code {
    margin-top: 20px;
    font-size: 14px;
    color: #4a4559;
    text-align: center;
  }

  .resend-button {
    background-color: #6a5acd;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #5740ba;
    }
  }
}

.main-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .check-email {
    width: 90%;
    padding: 0 20px;
    text-align: left;

    .btn {
      top: -90%;
      left: -12%;
      color: #fff;
    }

    .customhead {
      font-size: 36px;
    }

    .inputs {
      input {
        width: 35px;
        height: 35px;
        font-size: 16px;
      }
    }

    .resend-code {
      font-size: 12px;
    }

    .resend-button {
      padding: 8px 12px;
    }
  }

  .main-div {
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .main-div {
    justify-content: center;
    flex-direction: column;
    padding: 0;
    position: relative;

    .verify-email {
      padding: 0;
      .btn {
        top: -72%;
        left: 3%;
        position: absolute;
        color: #fff;
      }

      .customhead {
        font-size: 32px;
        line-height: 1.3;
        font-weight: 400;
        color: #1d1730;
      }

      .inputs {
        justify-content: left;

        input {
          width: 30px;
          height: 30px;
          font-size: 14px;
        }
      }

      .resend-button {
        font-size: 12px;
        padding: 6px 10px;
      }
    }
  }
}
