.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.main-div{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btn {
    position: absolute;
    top: 10%;
    right: 38%;
  }
}

.check-email {
  text-align: left;
  font-family: Arial, sans-serif;
  padding: 0 32px;
  width: 100%;
  max-width: 541px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .custombtn{
    margin: 0;
    background-color:#8B6DE8;
    color:#fff;
    width: 100%;
    border-radius: 12px;
    padding: 10px;
    margin-top: 10px;
  }
 

  .verify-content {
    .csttext {
      font-family: DM Serif Display;
      color: #000000b2;
      line-height: 25px;
      font-size: 16px;
      font-weight: 400;
    }
    .customhead {
      font-family: DM Sans;
      color: rgb(29, 23, 48);
      line-height: 62.4px;
      font-size: 48px;
      font-weight: 400;
    }
  }
  .inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;

    input {
      width: 40px;
      height: 40px;
      border: 1px solid #ccc;
      border-radius: 5px;
      text-align: center;
      font-size: 18px;
      

      &:focus {
        border-color: #6a5acd;
        outline: none;
      }
    }
  }


  .resend-code {
    margin-top: 20px;
    font-size: 14px;
    color: #4a4559;
    text-align: center;
  }

  .resend-button {
    background-color: #6a5acd;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #5740ba;
    }
  }
}



@media (max-width: 1290px) {
  .check-email {
    width: 90%;
    padding: 0 20px;
    text-align: left;
    .btn {
      top: -90%;
      left: -12%;
      color: #fff;
    }

    .customhead {
      font-size: 36px;
    }

    .inputs {
      input {
        width: 35px;
        height: 35px;
        font-size: 16px;
      }
    }

    .resend-code {
      font-size: 12px;
    }

    .resend-button {
      padding: 8px 12px;
    }
  }

  .main-div {
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 576px) {

  .main-div {
    justify-content: center;
    flex-direction: column;
    padding: 0;
    position: relative;

    .verify-content {
      padding: 0;
      .customhead {
        font-size: 27px;
        line-height: 1.3;
        font-weight: 400;
        color: #1d1730;
        padding: 7px 0;
      }
      .inputs {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
          text-align: center;
          margin: 0;
          box-sizing: border-box;
        }
      }
   
      .resend-button {
        font-size: 12px;
        padding: 6px 10px;
      }
    }
  }
}
