.sidebar_box {
    border: 1px solid #F9F8FD;
    background-color: #F9F8FD;
    border-radius: 24px;
    min-width: 312px;
height: max-content;


    .sidebar_topcontainer {
        margin-top: 21px;
        display: flex;
        gap: 10px;
        width: 100%;
        gap: 40px;
        flex-direction: column;
        justify-content: space-between;

        .sidebar_topnames {
            margin-left: 24px;
            font-family: Inter;
            font-size: 18px;
            font-weight: 360;
            padding: 5px 0;
           
        }

        .sidebar_botomnames {
            font-family: Inter;
            font-size: 18px;
            font-weight: 360;
            margin-left: 34px;
            padding: 5px 0;
            cursor: pointer;
        }


        .sidebar_toplinks {
            color: black;
            padding: 8px 0;
         

            &.active {
               height: 50px;
                background-color: #F3F0FD;
                border: 1px solid #F3F0FD;

                .sidebar_topnames {
                    font-family: Inter;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22.5px;
                    letter-spacing: 0%;


                }
            }
        }

    }

}


@media (max-width:600px) {
    .sidebar_box {
        width: 100%;
        display: block;
        background-color: white;
        border: 1px solid white;

        .sidebar_toplinks,
        .sidebar_botomnames {
            background-color: #F9F8FD;
            border: 1px solid #F9F8FD;
            background-color: #F9F8FD;
            height: 44px;
            border-radius: 10px;
            padding: 10px;
        }
    }
}

@media (max-width:600px) and (max-width:1200px) {
    .sidebar_box {
     
        min-width: 305px !important;
   
    }    
}