.top_file {
    display: flex;
    align-items: center;
justify-content: space-between;
gap: 6px;
    .file__input {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        background-color: #F9F8FD;
        border: 1px solid #F9F8FD;
        border-radius: 10px;
        width: 150px;
        height: 30px;
        padding: 3px;
    }

    .submit_inputdata {
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: center;
        color: aliceblue;
        width: 75px;
        height: 36px;
        padding: 17px;
        gap: 10px;
        border-radius: 10px;
        background-color: #8B6DE8;
        border: 1px solid #8B6DE8;
        cursor: pointer;
    }
}