.sign_in {
  margin-top: 42px;
  gap: 32px;
}
.sign_in .signin_left {
  width: 100% !important;
}
.sign_in .signin_right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 50%;
}
.sign_in .signin_right .singin_topname {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sign_in .signin_right .singin_topname .signin_name {
  font-family: DM Serif Display;
  font-size: 48px;
  font-weight: 400;
  line-height: 62.4px;
  letter-spacing: -0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.sign_in .signin_right .singin_topname .signin_controlinfo {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(0, 0, 0, 0.6980392157);
}
.sign_in .signin_right .signin_form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.sign_in .signin_right .signin_form .singin_email {
  display: flex;
  flex-direction: column;
  gap: 6px !important;
}
.sign_in .signin_right .signin_form .singin_email .circle_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.sign_in .signin_right .signin_form .singin_email .circle_box .circle_icon {
  transform: translate(-50%, -50%);
  right: 16px;
  top: 3px;
  width: 17px;
  position: absolute;
}
.sign_in .signin_right .signin_form form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.sign_in .signin_right .signin_form .label_name {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.sign_in .signin_right .signin_form .singin_password {
  display: flex;
  flex-direction: column;
  gap: 6px !important;
  align-items: flex-end;
}
.sign_in .signin_right .signin_form .singin_password .forgot_link {
  text-decoration: none;
}
.sign_in .signin_right .signin_form .singin_password .forgot_link .forgot_pasword {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1D1730;
}
.sign_in .signin_right .signin_form .singin_password .singin_passwordinp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
}
.sign_in .signin_right .signin_form .singin_password .singin_passwordinp .eyesonof {
  position: relative !important;
}
.sign_in .signin_right .signin_form .singin_password .singin_passwordinp .eye_icon {
  cursor: pointer;
  position: absolute;
  right: 15px;
  width: 17px;
  font-size: 18px;
  transform: translate(-50%, -50%);
  gap: 0px;
  opacity: 0px;
}
.sign_in .signin_right .signin_check {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 277px;
  height: 20px;
  gap: 12px;
  opacity: 0px;
}
.sign_in .signin_right .signin_check .signin_checkaccsestext {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sign_in .signin_right .signin_check .signin_checkaccsestext .confirmation_textone {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.sign_in .signin_right .signin_check .signin_checkaccsestext .confirmation_texttwo {
  width: 267px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.sign_in .signin_right .signin_check .sign_toggle .togle_icon {
  cursor: pointer;
  width: 54px;
  height: 72px;
  color: #8B6DE8;
  transition: color 0.3s ease;
}
.sign_in .signin_right .signin_check .sign_toggle .togle_iconof {
  cursor: pointer;
  width: 54px;
  height: 72px;
  color: #C0AEE4;
  transition: color 0.3s ease;
}
.sign_in .signin_right .signin_navbuttom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: auto;
  margin-top: 26%;
}
.sign_in .signin_right .signin_navbuttom .sign_alredytext {
  font-weight: 300;
}
.sign_in .signin_right .signin_navbuttom .signin_nav {
  font-weight: bold;
  color: black;
  border-bottom-color: 2px solid;
}

@media (max-width: 600px) {
  .sign_in {
    flex-direction: column !important;
    align-items: baseline;
    display: flex;
    margin-top: 5px !important;
    justify-content: center !important;
    padding: 24px !important;
  }
  .sign_in .signin_left {
    width: 100%;
  }
  .sign_in .signin_right {
    width: 100% !important;
  }
  .sign_in .signin_right .signin_btm {
    width: 100%;
  }
  .sign_in .signin_right .signin_check {
    width: 100% !important;
  }
  .sign_in .signin_right .signin_check .confirmation_textone {
    width: 100% !important;
  }
  .sign_in .signin_right .signin_check .confirmation_texttwo {
    width: 100% !important;
  }
  .sign_in .signin_right .signin_form {
    width: 100% !important;
  }
  .sign_in .signin_right .signin_form form {
    width: 100%;
    align-items: baseline;
  }
  .sign_in .signin_right .signin_form .singin_email {
    width: 100% !important;
  }
  .sign_in .signin_right .signin_form .singin_email .input_div {
    width: 100% !important;
  }
  .sign_in .signin_right .signin_form .singin_password {
    width: 100% !important;
  }
  .sign_in .signin_right .signin_form .singin_password .paswordtop {
    width: 100% !important;
  }
  .sign_in .signin_right .signin_form .singin_password .paswordtop .input_div {
    width: 100% !important;
  }
  .sign_in .signin_right .signin_navbuttom {
    margin-top: 3% !important;
    width: 87%;
    justify-content: center;
  }
  .sign_in .signin_right .signin_navbuttom .sign_alredytext {
    width: 169px;
  }
  .sign_in .signin_right .signin_navbuttom .signin_nav p {
    width: 85px;
  }
  .sign_in .signin_right .signin_name {
    font-size: 32px !important;
  }
  .sign_in .signin_right .eye_icon {
    right: 20px !important;
  }
  .sign_in .signin_right .signin_controlinfo {
    font-size: 16px;
    width: 100% !important;
    height: 52px;
  }
}
@media (min-width: 601px) and (max-width: 1200px) {
  .sign_in {
    margin-top: 5px !important;
    flex-direction: column !important;
    align-items: baseline;
    display: flex;
    padding: 46px !important;
  }
  .sign_in .signin_left {
    width: 100%;
  }
  .sign_in .signin_right {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .sign_in .signin_right .signin_btm {
    width: 100%;
  }
  .sign_in .signin_right .signin_form {
    width: 100% !important;
  }
  .sign_in .signin_right .signin_form form {
    width: 100%;
    align-items: baseline;
  }
  .sign_in .signin_right .signin_form .singin_email {
    width: 100% !important;
  }
  .sign_in .signin_right .signin_form .singin_email .input_div {
    width: 100% !important;
  }
  .sign_in .signin_right .signin_form .singin_password {
    width: 100% !important;
  }
  .sign_in .signin_right .signin_form .singin_password .paswordtop {
    width: 100% !important;
  }
  .sign_in .signin_right .signin_form .singin_password .paswordtop .input_div {
    width: 100% !important;
  }
  .sign_in .signin_right .eye_icon {
    right: 21px !important;
  }
  .sign_in .signin_right .signin_navbuttom {
    margin-top: 2%;
    justify-content: center;
    width: 87%;
  }
  .sign_in .signin_right .signin_name {
    font-size: 48px !important;
  }
  .sign_in .signin_right .signin_controlinfo {
    font-size: 18px;
    width: 509px;
    height: 29px;
    gap: 0px;
    opacity: 0px;
  }
}