.sign_in {
    margin-top: 42px;
    gap: 32px;

    .signin_left {
        width: 100% !important;
    }

    .signin_right {
        display: flex;
        flex-direction: column;
        gap: 32px;
        position: relative;
        width: 50%;


        .singin_topname {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .signin_name {
                font-family: DM Serif Display;
                font-size: 48px;
                font-weight: 400;
                line-height: 62.4px;
                letter-spacing: -0.01em;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
            }

            .signin_controlinfo {
                font-family: DM Sans;
                font-size: 16px;
                font-weight: 400;
                line-height: 25.6px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #000000B2;

            }

        }

        .signin_form {
            display: flex;
            flex-direction: column;
            align-items: baseline;

            .singin_email {
                display: flex;
                flex-direction: column;
                gap: 6px !important;
                .circle_box {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    position: relative;
                    .circle_icon{
                        transform: translate(-50%, -50%);
                        right: 16px;
                        top: 3px;
                        width: 17px;
                        position: absolute;

                    }
                }
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 16px;

            }

            .label_name {
                font-family: DM Sans;
                font-size: 14px;
                font-weight: 400;
                line-height: 17.5px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;

            }

            .singin_password {
                display: flex;
                flex-direction: column;
                gap: 6px !important;
                align-items: flex-end;

                .forgot_link {
                    text-decoration: none;

                    .forgot_pasword {

                        font-family: Inter;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 17.5px;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        color: #1D1730;
                    }
                }

                .singin_passwordinp {
                    display: flex;
                    position: relative;
                    flex-direction: row;
                    align-items: center;

                    .eyesonof {
                        position: relative !important;
                    }

                    .eye_icon {
                        cursor: pointer;
                        position: absolute;
                        right: 15px;
                        width: 17px;
                        font-size: 18px;
                        transform: translate(-50%, -50%);
                        gap: 0px;
                        opacity: 0px;

                    }
                }
            }
        }

        .signin_check {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 277px;
            height: 20px;
            gap: 12px;
            opacity: 0px;

            .signin_checkaccsestext {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .confirmation_textone {
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;

                }

                .confirmation_texttwo {
                    width: 267px;
                    font-family: Inter;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17.5px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;

                }
            }

            .sign_toggle {
                .togle_icon {
                    cursor: pointer;
                    width: 54px;
                    height: 72px;
                    color: #C0AEE4;
                    transition: color 0.3s ease;
                }

            }
        }

        .signin_navbuttom {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 17.5px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin: auto;
            margin-top: 26%;


            .sign_alredytext {
                font-weight: 300;

            }

            .signin_nav {
                font-weight: bold;
                color: black;
                border-bottom-color: 2px solid;

            }
        }


    }
}

@media (max-width:600px) {
    .sign_in {
        flex-direction: column !important;
        align-items: baseline;
        display: flex;
        margin-top: 5px !important;
        justify-content: center !important;
        padding: 24px !important;

        .signin_left {
            width: 100%;
        }
        .signin_right {
            width: 100% !important;
            .signin_btm{
                width: 100%;
            }
            .signin_form{
                width: 100% !important;
                form{
                    width: 100%;
                    align-items: baseline;
                }
                .singin_email{
                    width: 100% !important;
                    .input_div{
                        width: 100% !important;
                    }
                }
                .singin_password{
                    width: 100% !important;
                    .paswordtop{
                        width: 100% !important;             
                        .input_div{
                            width: 100% !important;
                        }
                    }
                }
         
            }
            .signin_navbuttom {
                margin-top: 3% !important;
                width: 87%;
                justify-content: center;

                .sign_alredytext {
                    width: 169px;
                }

                .signin_nav p {
                    width: 85px;
                }
            }

            .signin_name {
                font-size: 32px !important;
            }

            .eye_icon {
                right: 20px !important;
            }

            .signin_controlinfo {
                font-size: 16px;
                width: 330px;
                height: 52px;
            }
        }
    }


}



@media (min-width:601px)and (max-width:1200px) {

    .sign_in {
        margin-top: 5px !important;
        flex-direction: column !important;
        align-items: baseline;
        display: flex;
        padding: 46px !important;

        .signin_left {
            width: 100%;
        }

        .signin_right {
            width: 100%  !important;        
            display: flex;
            flex-direction: column;
            align-items: baseline;
            .signin_btm{
                width: 100%;
            }
            .signin_form{
                width: 100% !important;
                form{
                    width: 100%;
                    align-items: baseline;
                }
                .singin_email{
                    width: 100% !important;
                    .input_div{
                        width: 100% !important;
                    }
                }
                .singin_password{
                    width: 100% !important;
                    .paswordtop{
                        width: 100% !important;             
                        .input_div{
                            width: 100% !important;
                        }
                    }
                }
         
            }
            .eye_icon {
                right: 21px !important;
            }



            .signin_navbuttom {
                margin-top: 2%;
                justify-content: center;
                width: 87%;
            }

            .signin_name {
                font-size: 48px !important;

            }

            .signin_controlinfo {
                font-size: 18px;
                width: 509px;
                height: 29px;
                gap: 0px;
                opacity: 0px;

            }
        }
    }

}