.lexion_layout {
    height: 100vh;


    .back_components {
        .settingsbackicon {
            background-color: white;
        }
    }

    .lexion_container {
        display: flex;
        align-items: flex-start;
        gap: 32px;
        padding: 13px;

        .layout_lexionprops {
            width: 20%;
            height: max-content;

            .lexicon_card {
                display: flex;
                flex-direction: column;
            }
        }

        .lexionslayout_cards {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;

            .lexionslayout_search {
                width: 100%;
                position: relative;

                .search_icons {
                    position: absolute;
                    top: 51px;
                    left: 38px;
                    z-index: 999999;
                }

                .MuiInputBase-input {
                    padding: 16.5px 52px;
                    border: 1px solid #D8DADC;
                    background-color: #F9F8FD;
                    border-radius: 10px;
                }

                .inputs_category {
                    .MuiInputBase-root {
                        padding: 3px 20px;
                    }
                }
            }

            .lexionlayout_secioncomponnet {
                width: 100%;
            }
        }
    }


    .homepage_quiz {
        display: none;
    }
}

@media (max-width:600px) {
    .lexion_layout {
        .lexion_container {
            flex-direction: column;
            gap: 5px;

            .layout_lexionprops {
                width: 100%;


                .lexicon_card {

                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto auto;
                    gap: 20px;
                    padding: 10px;

                    .lexioncard_about {
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        gap: 30px;
                    }

                    .lexion3 {
                        .lexioncard_about {
                            flex-direction: column;
                        }
                    }

                    .lexion1,
                    .lexion2 {
                        height: 100%;
                    }
                }
            }

            .lexionslayout_cards {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;

                .lexionslayout_search {
                    width: 100%;
                    position: relative;

                    .search_icons {
                        position: absolute;
                        top: 50px;
                        left: 25px;
                    }

                  
                }

                .lexionlayout_secioncomponnet {
                    width: 100%;
                }
            }
        }

        .homepage_quiz {
            display: block;
            background-image: url("../../assets/images/AuthImages/bacgroundimage/ezzedesign.png");
            background-size: cover;
            width: 100%;
            text-align: center;
            height: 56px;
            border-radius: 16px;
            cursor: pointer;
            margin-top: 20px;

            .quiz_center {
                padding: 10px;
            }

        }
    }
}



@media (min-width:600px) and (max-width:1200px) {
    .lexion_layout {
        height: 100vh;


        .lexion_container {
            display: flex;

            gap: 32px;

            .layout_lexionprops {
                width: 20%;
                height: max-content;

                .lexicon_card {
                    display: flex;
                    flex-direction: column;
                }
            }

            .lexionslayout_cards {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;

                .lexionslayout_search {
                    width: 100%;
                    position: relative;

                    .search_icons {
                        position: absolute;
                        top: 50px;
                        left: 25px;
                    }

                   
                }

                .lexionlayout_secioncomponnet {
                    width: 100%;
                }
            }
        }

        .homepage_quiz {
            display: none;
        }
    }
}